APP_NAME="Transporte Urbano API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

# ----- Base de datos PostgreSQL -----
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=transporte_urbano
DB_USERNAME=postgres
DB_PASSWORD=12345

# ----- Sanctum / CORS -----
# IP de tu PC en la red local (para que el emulador/celular físico
# con Expo pueda conectarse a la API). Ejemplo: 192.168.1.50
SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1,localhost:8081
SESSION_DOMAIN=localhost

FRONTEND_URL=http://localhost:8081
